[submodule "third_party/libheif"]
	path = third_party/libheif
	url = https://github.com/strukturag/libheif
[submodule "third_party/kvazaar"]
	path = third_party/kvazaar
	url = https://github.com/ultravideo/kvazaar.git
